/* .icons{
    align-items: right;
    text-align: right;
    
}

.icons ul{
    list-style: none;
}

.icons ul li{
    display: inline;
    padding-left: 30px;
}

.icons ul li i{
    color: rgb(165, 165, 165);
} */

:root{
 
}

body{
    background: #ddd;
}
.text-title{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text{
    
}